<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/654cd3eb-ac16-4440-81aa-621744b48569/resourceGroups/GildtAPI/providers/Microsoft.Web/sites/GildtAPIApp</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://gildtapiapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>gildtapiapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GildtAPIApp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GildtAPIApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>